@model IEnumerable<PROJET_FINAL.Commande>

<style>
    body {
        margin: 0;
        color: rgba(255,255,255,0.5);
        background: rgba(255,255,255,0.5);
        font-family: "Poppins",sans-serif;
    }

    *, :after, :before {
        box-sizing: border-box
    }

    .clearfix:after, .clearfix:before {
        content: '';
        display: table
    }

    .clearfix:after {
        clear: both;
        display: block
    }

    a {
        color: inherit;
        text-decoration: none
    }

    .comm-wrap {
        width: 100%;
        margin: 0 auto;
        max-width: 740px;
        position: relative;
        box-shadow: 0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
        padding: 5px;
        text-align: center;
        background: rgba(52,58,64,1);
        align-content: center;
    }
    .title {
        color : white;
    }
    .tbl-comm {
        margin: 0 auto;
    }
    .tbl-head {

    }
    .obj-wrap {
        border-radius: 25px;
        border: none;
        padding: 20px;
        background: rgb(128, 128, 128);
        box-shadow: 0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
    }
    .obj-wrap td:first-child {
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-bottomleft: 5px;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-bottom-left-radius: 5px;
    }

    .obj-wrap td:last-child {
        -moz-border-radius-topright: 5px;
        -moz-border-radius-bottomright: 5px;
        -webkit-border-top-right-radius: 5px;
        -webkit-border-bottom-right-radius: 5px;
    }
    .info-obj {
        padding:7px;
    }

    

    .hr {
        height: 2px;
        margin: 60px 0 50px 0;
        background: rgba(255,255,255,.2);
    }

    .foot-lnk {
        text-align: center;
    }
</style>

<br />
<-- Google api --> </-->
    <!DOCTYPE html>
    <html>
    <head>
        <title>Geolocation</title>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <meta charset="utf-8">
        <style>
                /* Always set the map height explicitly to define the size of the div
            * element that contains the map. */
                #map {
                    height: 400px;
                    width: 100%
                }
                /* Optional: Makes the sample page fill the window. */
                html, body {
                    height: 400px;
                    width: 100%;
                    margin: 0;
                    padding: 0;
                }
        </style>
    </head>
    <body>
        <div id="map"></div>
        <script>
            // Note: This example requires that you consent to location sharing when
            // prompted by your browser. If you see the error "The Geolocation service
            // failed.", it means you probably did not give permission for the browser to
            // locate you.
            var map, infoWindow;
            function initMap() {
                map = new google.maps.Map(document.getElementById('map'), {
                    center: { lat: -34.397, lng: 150.644 },
                    zoom: 6
                });
                infoWindow = new google.maps.InfoWindow;

                // Try HTML5 geolocation.
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(function (position) {
                        var pos = {
                            lat: position.coords.latitude,
                            lng: position.coords.longitude
                        };


                        infoWindow.setPosition(pos);
                        infoWindow.setContent('Location found.');
                        infoWindow.open(map);
                        map.setCenter(pos);
                    }, function () {
                        handleLocationError(true, infoWindow, map.getCenter());
                    });
                } else {
                    // Browser doesn't support Geolocation
                    handleLocationError(false, infoWindow, map.getCenter());
                }
            }

            function handleLocationError(browserHasGeolocation, infoWindow, pos) {
                infoWindow.setPosition(pos);
                infoWindow.setContent(browserHasGeolocation ?
                    'Error: The Geolocation service failed.' :
                    'Error: Your browser doesn\'t support geolocation.');
                infoWindow.open(map);
            }
        </script>
        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCS7pQ5bFOQhHENri9wbnCMN-lczbApfNU&callback=initMap">
        </script>
    </body>
</html>



<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCS7pQ5bFOQhHENri9wbnCMN-lczbApfNU"></script>
<script type="text/javascript">

        var markers = @Html.Raw(ViewBag.Markers); //all string value of column properties to viewbag.
        window.onload = function () {
            var mapOptions = {
                center: new google.maps.LatLng(markers[0].lat, markers[0].lng), //which item will be shown.
                zoom: 9, //google map page zoom
                mapTypeId: google.maps.MapTypeId.ROADMAP //type of view.
            };
            var infoWindow = new google.maps.InfoWindow();
            var map = new google.maps.Map(document.getElementById("map"), mapOptions);//pass div id and google map load values.
            for (i = 0; i < markers.length; i++) { //here load all city map name
                var data = markers[i]
                var myLatlng = new google.maps.LatLng(data.lat, data.lng); //assign lat and long.
                var marker = new google.maps.Marker({
                    position: myLatlng, //lat and long value
                    map: map, //div id
                    title: data.title //item name
                });
                (function (marker, data) {
                    google.maps.event.addListener(marker, "click", function (e) {
                        infoWindow.setContent(data.title);
                        infoWindow.open(map, marker);
                    });
                })(marker, data);
            }
        }
</script>












<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <br />
    <div class="comm-wrap">
        <h4 class="title">Les commandes</h4>

        <table cellpadding="0" cellspacing="0" class="tbl-comm">
            <tr class="tbl-head">
                <th>Nom Client</th>
                <th>Objet/Service</th>
                <th>Information</th>
                <th>Prix</th>
                <th>Date</th>
                <th>Adresse</th>
                <th>Code Postal</th>
                <th>Prendre</th>
            </tr>
            <tr><td><hr /></td></tr>
            
            @foreach (Commande commande in Model)
            {
            <tr class="obj-wrap" id="commande">
                <td class="info-obj">@commande.Client.PrenomClient</td>
                @foreach (Objet objet in commande.Objets)
                {
                    <td class="info-obj">@objet.NomObjet</td>                
                }
                <td class="info-obj">@commande.InfosSup</td>
                @foreach (Objet objet in commande.Objets)
                {
                    <td class="info-obj">@objet.PrixApprox.ToString().Substring(0, objet.PrixApprox.ToString().Length - 2)</td>
                }
                <td class="info-obj">@commande.DateComm</td>
                <td class="info-obj">@commande.Adresse</td>
                <td class="info-obj">@commande.CodePostal</td>
                <td class="info-obj"><input class="pointer-arrow" value="Prendre" type="button" onclick="Prendre(@commande.IdCommande)"></td>
                @if ((DateTime.Now - commande.DateComm).Value.TotalSeconds >= 15)
                {
                    <td class="info-obj">!!!</td>}
            </tr>
                <tr><td><br /></td></tr>
            }
        </table>
    </div>
</body>
</html>
<script type="text/javascript">
    function Prendre(id) {
        var r = confirm("Voulez vous vraiment prendre en charge cette commande?");
        if (r == true) {
            window.location.assign("/LivreurComm/Assigner/" + id);
        }
    }
</script>

<style type="text/css">
    .pointer-arrow:hover {
        cursor: pointer;
    }
</style>

